<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>R1 - MG</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ short_uri }}asset/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ short_uri }}asset/theme/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

    <!-- custom Theme CSS -->
    <link href="{{ short_uri }}asset/css/custom-style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ short_uri }}index.php/core/index"><i class="fa fa-home"></i> R<sup>1</sup>Blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ short_uri }}index.php/blog/index">Browse the Blog</a>
                </li>
                <li>
                    <a href="{{ short_uri }}index.php/core/index#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


{% block header %}{% endblock %}
{% block body %}{% endblock %}

<!-- Footer -->
<footer>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-xs-12 col-sm-4">
                <h1>OC P5</h1>
                <p>This Website is a prototype realized on purpose.</p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h1>Follow me</h1>
                <ul id="social" class="list-inline text-center">
                    <li>
                        <a href="https://twitter.com/maels1991" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Erwan29200" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Maels1991" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h1>Credits</h1>
                <p>This Website has been developed based on <a href="https://startbootstrap.com/template-overviews/clean-blog/" target="_blank" class="text-info">Clean Blog</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ short_uri }}/asset/theme/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ short_uri }}/asset/theme/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="{{ short_uri }}/asset/theme/js/jqBootstrapValidation.js"></script>
<script src="{{ short_uri }}/asset/theme/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="{{ short_uri }}/asset/theme/js/clean-blog.min.js"></script>

</body>

</html>
